
.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  gap: 12px;
}

/* MAIN BANNER */
.mainBanner {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 6px;
}


.mainBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SIDE BANNERS */
.sideBanners {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
}

.sideBanners a {
  display: block;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 6px;
}

.sideBanners img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Features dưới banner (6 item) */
.features {
  margin: 12px auto 0;
  padding: 0 12px;
  background: #fff;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.featureItem {
    display: grid;
    grid-template-columns: 44px 1fr;
    align-items: center;
    gap: 10px;
    padding: 14px 12px;
    text-decoration: none;
    color: #333;

    &:hover {
        background: #fafafa;
    }
}

.featureIcon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #fff0ec;
    color: #ee4d2d;
    display: grid;
    place-items: center;
    font-size: 22px;
}

.featureText {
    font-size: 13px;
    line-height: 1.2;
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  .sideBanners {
    display: none;  
  }
  .features {
    grid-template-columns: repeat(3, 1fr); // hoặc repeat(2, 1fr)
  }

  .featureItem {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 10px 6px;
    gap: 4px;
  }
}