.productCard {
  border-radius: 12px;
  overflow: hidden;
  width: 100%; // THÊM dòng này
  height: auto; // THÊM dòng này

  .ant-card-body {
    padding: 12px;
  }

  .ant-card-actions {
    background: transparent;
    border-top: none;

    li {
      margin: 0;
    }
  }
}

.imageWrapper {
  position: relative;
  padding: 12px;
  background: #fafafa;

  img {
    width: 100%;
    height: 160px;
    object-fit: contain;
  }
}

.discountTag {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-weight: 600;
  border-radius: 6px;
}

/* NAME */
.productName {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  line-height: 1.4;
  height: 38px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* PRICE */
.priceRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
}

.priceNew {
  color: #e53935;
  font-size: 15px;
  font-weight: 700;
}

.priceOld {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}
