.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 900px;
  height: 550px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

/* LEFT SIDE */
.login-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-card {
  width: 100%;
  max-width: 350px;

  h2 {
    font-weight: 700;
    margin-bottom: 5px;
  }

  .sub-text {
    color: #666;
    margin-bottom: 25px;
  }
}

.login-btn {
  height: 45px;
  border-radius: 8px;
  font-weight: 600;
}

.google-btn {
  height: 45px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.register-text {
  margin-top: 20px;
  font-size: 14px;

  span {
    color: #00e676;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* RIGHT SIDE */
.login-right {
  width: 50%;
  background: linear-gradient(135deg, #00e676, #00e676);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.brand-box {
  max-width: 320px;

  h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .tagline {
    margin-bottom: 30px;
    font-size: 16px;
    opacity: 0.9;
  }

  .features {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 15px;
      font-size: 15px;
    }
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 95%;
    height: auto;
    flex-direction: column;
  }

  .login-right {
    display: none;
  }

  .login-left {
    width: 100%;
    padding: 30px 20px;
  }
}